<div>
  <div>
      <a routerLink="small">Small</a>
  </div>
  <div>
      <a routerLink="big">Big</a>
  </div>
    
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <img [src]="getUrl()" />
    </div>
    <div>
      <img [src]="getUrl()" />
    </div>
    <div>
      <img [src]="getUrl()" />
    </div>
    <div>
      <img [src]="getUrl()" />
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <img [src]="getUrl()" />
    </div>
    <div>
      <img [src]="getUrl()" />
    </div>
    <div>
      <img [src]="getUrl()" />
    </div>
    <div>
      <img [src]="getUrl()" />
    </div>
  </div>
</div>
